<h3>Pirate Name: <%= @pirates[:name] %></h3>
<h3>Pirate Weight: <%= @pirates[:weight] %></h3>
<h3>Pirate Weight: <%= @pirates[:height] %></h3>


# <h2>Display your first ship here</h2>
<h3>Ship Name: <% @ships[:name] %></h3>
